<div class="head">
  <p style="font-weight: bold;">Headlines</p>
  <h1 class="sd">Heading 1</h1>
  <p>font-size: 6rem / line-height: 6rem / font-weight: 300</p>
  <h2 class="sd">Heading 2</h2>
  <p>font-size: 3.75rem / line-height: 3.75rem / font-weight: 300</p>
  <h3 class="sd">Heading 3</h3>
  <p>font-size: 3rem / line-height: 3.125rem / font-weight: 400</p>
  <h4 class="sd">Heading 4</h4>
  <p>font-size: 2.125rem / line-height: 2.5rem / font-weight: 400</p>
  <h5 class="sd">Heading 5</h5>
  <p>font-size: 1.5rem / line-height: 2rem / font-weight: 400</p>
  <h6 class="sd">Heading 6</h6>
  <p>font-size: 1.25rem / line-height: 2rem / font-weight: 500</p>
</div>

<div class="text">
<p style="font-weight: bold;">Texts</p>
<p class="p1">text-subtitle-1</p>
<p><span class="p1">Cupcake ipsum dolor sit amet fruitcake donut chocolate.</span><br><span>font-size: 1rem / line-height: 1.75rem / font-weight: 400</span></p>

<p class="p2">text-subtitle-2</p>
<p><span class="p2"> Cupcake ipsum dolor sit amet fruitcake donut chocolate. </span><br><span>font-size: 0.875rem / line-height: 1.375rem / font-weight: 500</span></p>

<p class="p3">text-body-1</p>
<p><span class="p3"> Cupcake ipsum dolor sit amet fruitcake donut chocolate.</span><br><span>font-size: 1rem / line-height: 1.5rem / font-weight: 400</span></p>

<p class="p4">text-body-2</p>
<p><span class="p4">Cupcake ipsum dolor sit amet fruitcake donut chocolate.</span><br><span>font-size: 0.875rem / line-height: 1.25rem / font-weight: 400</span></p>
</div>
