<div class="divo">
  <div class="card" style="width: 18rem; border-radius: 23px">
    <img
      src="assets/photos/Apple-Watch-Ultra-2-hero-230912.jpg.og.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Apple Watch</h5>
      <br />
      <p class="card-text">
        $249.40 <br /><br />
        3.1GHz 6-core 10th-generation Intel Core i5 processor, Turbo Boost up to
        4.5GHz
      </p>
      <a
        href="#"
        style="
          background-color: black;
          padding: 9px;
          color: white;
          text-decoration: none;
          border-radius: 10px;
        "
        >Add To Cart</a
      >
    </div>
  </div>

  <div
    class="card"
    style="width: 18rem; border-radius: 23px; margin-left: 15px"
  >
    <img src="assets/photos/5-f951b35f.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Waking up earlier gives your body time to reach peak wakefulness
        naturally (without depending on coffee) to do your best work at the
        start of your workday
      </p>
    </div>
  </div>

  <div
    class="card mb-3"
    style="
      max-width: 540px;
      border-radius: 23px;
      margin-left: 15px;
      height: 12rem;
    "
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="assets/photos/Apple-iPhone-15-lineup-color-lineup-geo-230912_big.jpg.large.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">IPhone 15</h5>
          <p class="card-text">
            They are smartphones designed, developed and marketed by Apple. They
            are the 17th generation of iPhones
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-bg-dark" style="color: white; margin-top: 10px">
  <img
    style="border-radius: 1rem"
    src="assets/photos/bbd0546431d259398d7fd2ee276a8a97.jpg"
    class="card-img nmn"
    alt="..."
  />
  <div class="card-img-overlay">
    <h5 class="card-title">Abu Sin</h5>
    <p class="card-text">
      Male Black Night Passion Becomes a friend of Lazuqa, Abu Sin is the only
      dragon that cannot fly without its rider, and the effect of this after
      losing his fin is his permit in the feature film, he is the fastest,
      smartest and rarest of the dragons on Berk. Abu Sun has a strong
      friendship with Hiccup since he helps him fly again.
    </p>
  </div>
</div>
