<div style="display: flex; margin-top: 30px; " >
  <div class="form-container" style=" margin-left: 7rem;">
  <form id="contactForm">
    <h2>Contact Us</h2>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required placeholder="ahmed">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required placeholder="ahmed@mail.com">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required placeholder="********">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div>

<form style="    margin-left: 7rem;
    width: 25rem;">
    <div class="form-container">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first-name" placeholder="ahmed">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last-name" placeholder="naeem">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="ahmed@mail.com">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="cairo">
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" placeholder="Egypt">
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" id="company" name="company" placeholder="AhmedNaeem">
        </div>
        <button type="submit">Submit</button>
    </div>
</form>

</div>

</div>
