
<section class="sec1">

      <div class="col-md-12">
        <div class="row">

          <div class="col-md-2" style="background-color: white;">
            <div class="row">
<div class="logo">Ahmed Naeem</div>
<ul>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/dash">Dashboard</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/acc">Account Settings</a></li>
  <li style="text-decoration: none; list-style: none;  " class="toxt">-- PAGES</li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/login">Login</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text"routerLink="/regi">Register</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/error">Error</a></li>
  <li style="text-decoration: none; list-style: none;" class="toxt">-- USER INTERFACE</li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/typo">Typography</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/icon">Icons</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/card">Cards</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/table">Tables</a></li>
  <li style="text-decoration: none; list-style: none;   padding: 1em;"><a class="text" routerLink="/form">Form Layouts</a></li>
</ul>
</div>
          </div>

          <div class="col-md-10">
            <div class="row">
              <section style="display: flex; background-color: white; justify-content: center; border-radius: 3rem;">
  <div><a href="https://www.facebook.com/ahmedramisisunaeem" target="_blank"><img class="imego" src="assets/photos/Facebook-Logosu.png" alt=""></a></div>
  <div><a href="https://www.linkedin.com/in/a7medna3em101/" target="_blank"><img class="imego"  src="assets/photos/linkedin-logo-linkedin-symbol-linkedin-icon-free-free-vector.jpg" alt=""></a></div>
  <div><a href="https://www.instagram.com/a7med_na3em101/" target="_blank"><img class="imego"  src="assets/photos/contest-steps-02_811406-372.avif" alt=""></a></div>
  <div><a href="https://www.youtube.com/@a7med_na3em101" target="_blank"><img class="imego"  src="assets/photos/youtube-logo-youtube-icon-transparent-free-png.webp" alt=""></a></div>
</section>
              <router-outlet></router-outlet>
            </div>
          </div>

        </div>
      </div>


</section>

<footer style="text-align: center; font-family: sans-serif; font-size: large; font-weight: 600;">
  &copy; Made By Ahmed Naeem
</footer>
