

<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-8"
            style="background-color: white; border-radius: 25px"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div style="margin-top: 30px">
                    <h2>Congratulations Ahmed!</h2>
                    <p>
                      You have done 72% 🤩 more sales today. Check your new
                      raising badge in your profile
                    </p>
                    <button class="as">View Badges</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div>
                    <img
                      class="imgo"
                      src="assets/photos/illustration-john-light-0061869a.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div
                    style="
                      background-color: white;
                      width: 10rem;
                      padding: 7px;
                      border-radius: 9px;
                      margin-left: 15px;
                    "
                  >
                    <img class="imf" src="assets/photos/download.png" alt="" />
                    <p
                      style="
                        font-family: sans-serif;
                        font-size: large;
                        font-weight: 600;
                        color: #939596;
                        margin-top: 20px;
                      "
                    >
                      Profit
                    </p>
                    <p
                      style="
                        font-family: sans-serif;
                        font-size: large;
                        font-weight: 600;
                        color: #565757;
                        margin-top: 20px;
                      "
                    >
                      $12,628
                    </p>
                    <p
                      style="
                        font-family: sans-serif;
                        font-size: large;
                        font-weight: 600;
                        color: #00eb1f;
                        margin-top: 20px;
                      "
                    >
                      &#x2191; &nbsp;72.8%
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div>
                    <div
                      style="
                        margin-left: 30px;
                        background-color: white;
                        width: 10rem;
                        padding: 7px;
                        border-radius: 9px;
                      "
                    >
                      <img
                        class="imf"
                        src="assets/photos/download (1).png"
                        alt=""
                      />
                      <p
                        style="
                          font-family: sans-serif;
                          font-size: large;
                          font-weight: 600;
                          color: #939596;
                          margin-top: 20px;
                        "
                      >
                        Sales
                      </p>
                      <p
                        style="
                          font-family: sans-serif;
                          font-size: large;
                          font-weight: 600;
                          color: #565757;
                          margin-top: 20px;
                        "
                      >
                        $4,6798
                      </p>
                      <p
                        style="
                          font-family: sans-serif;
                          font-size: large;
                          font-weight: 600;
                          color: #00eb1f;
                          margin-top: 20px;
                        "
                      >
                        &#x2191; &nbsp;28.42%
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <h2>Sales Data</h2>
                <div class="bar-chart">
                  <div class="bar" style="height: 72%; border-radius: 25px;">72%</div>
                  <div class="bar" style="height: 50%; border-radius: 25px;">50%</div>
                  <div class="bar" style="height: 80%; border-radius: 25px;">80%</div>
                  <div class="bar" style="height: 60%; border-radius: 25px;">60%</div>
                  <div class="bar" style="height: 90%; border-radius: 25px;">90%</div>
                </div>
                <div class="bar-labels" style="display: flex;">
                  <div class="bar-label">Mon</div>
                  <div class="bar-label">Tue</div>
                  <div class="bar-label">Wed</div>
                  <div class="bar-label">Thu</div>
                  <div class="bar-label">Fri</div>
                </div>
              </div>
              <div class="col-md-6">
                <h3>62% Company Growth</h3>
                <div class="circle-chart-container">
                  <svg viewBox="0 0 36 36" class="circular-chart">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                         a 15.9155 15.9155 0 0 1 0 31.831
                         a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      stroke-dasharray="62, 100"
                      d="M18 2.0845
                         a 15.9155 15.9155 0 0 1 0 31.831
                         a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">62%</text>
                  </svg>
                  <div class="growth-data">
                    <p>2023: $32.5k</p>
                    <p>2022: $41.2k</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <div
                  style="
                    background-color: white;
                    width: 100%;
                    padding: 7px;
                    border-radius: 9px;
                    margin-bottom: 20px;
                  "
                >
                  <img class="imf" src="assets/photos/download (2).png" alt="Payments" />
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #939596;
                      margin-top: 20px;
                    "
                  >
                    Payments
                  </p>
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #565757;
                      margin-top: 20px;
                    "
                  >
                    $2,468
                  </p>
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #ff001e;
                      margin-top: 20px;
                    "
                  >
                    &#x2193; &nbsp;-14.82%
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  style="
                    background-color: white;
                    width: 100%;
                    padding: 7px;
                    border-radius: 9px;
                  "
                >
                  <img class="imf" src="assets/photos/download (3).png" alt="Transactions" />
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #939596;
                      margin-top: 20px;
                    "
                  >
                    Transactions
                  </p>
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #565757;
                      margin-top: 20px;
                    "
                  >
                    $14,857
                  </p>
                  <p
                    style="
                      font-family: sans-serif;
                      font-size: large;
                      font-weight: 600;
                      color: #00eb1f;
                      margin-top: 20px;
                    "
                  >
                    &#x2191; &nbsp;28.14%
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <h3 class="card-title" style="color: #e20dd0;">&#x21ad; &nbsp;Order Statistics</h3>
            <p class="card-text">
              <strong>Total Sales:</strong> 42.82k
            </p>
            <p class="card-text">
              <strong>Total Orders:</strong> 8,258
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: #b0e20d;">&#x21b9; &nbsp;Electronic</h5>
                <p class="card-text">Mobile, Earbuds, TV</p>
                <p class="card-text"><strong>82.5k</strong></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: #e2660d;">&#x21ce; &nbsp;Fashion</h5>
                <p class="card-text">Tshirt, Jeans, Shoes</p>
                <p class="card-text"><strong>23.8k</strong></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"  style="color: #0d49e2;">&#x21dd;  &nbsp;Decor</h5>
                <p class="card-text">Fine Art, Dining</p>
                <p class="card-text"><strong>849</strong></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: #0de238;">&#x27F0;  &nbsp;Sports</h5>
                <p class="card-text">Football, Cricket Kit</p>
                <p class="card-text"><strong>99</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-5">
  <div class="container">
    <h2>Transactions</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Paypal</div>
            <div class="transaction-description">Send money</div>
            <div class="transaction-amount positive">$82.6 USD</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Wallet</div>
            <div class="transaction-description">Mac'D</div>
            <div class="transaction-amount positive">$270.69 USD</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Transfer</div>
            <div class="transaction-description">Refund</div>
            <div class="transaction-amount positive">$637.91 USD</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Credit Card</div>
            <div class="transaction-description">Ordered Food</div>
            <div class="transaction-amount negative">-$838.71 USD</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Wallet</div>
            <div class="transaction-description">Starbucks</div>
            <div class="transaction-amount positive">$203.33 USD</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card transaction-card">
          <div class="card-body">
            <div class="transaction-type">Mastercard</div>
            <div class="transaction-description">Ordered Food</div>
            <div class="transaction-amount negative">-$92.45 USD</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
